.about__heading {
  border: #6e002a solid;
  border-radius: 8px;
  background: #b3eb31;
  text-align: center;
  padding: 2px;
  width: 1000px;
  margin: auto;
}

.about__link {
  color: #92140c;
}

.about__picture {
  width: 300px;
  margin: 10px;
 }

a {
  color: #6e002a;
}

.footer {
  background: #00c3ff;
  text-align: center;
  border-radius: 8px;
  margin: auto;
  max-width: 1000px;
}

.footer__link {
  color: yellow;
}

h2 {
  color: #1460aa;
}

.main__heading {
  color: #09629e;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.navigation {
  background:#00b30fe5;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color:#fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}
.notes {

}

.notes__heading {
  color: hotpink;
}


#top {
  background: #d1c6c6;
  border-radius: 8px;
  text-align: center;
}

.week-summary {
  padding: 16px;
  border: 5px rgb(110, 5, 110) solid;
  margin: 5px;
}

.week-summary__title {
  color: #21a179;
}

.week-summary__description {
  color: #92140c;
}

.week-summary--special {
  border: 5px #1460aa solid;
}